<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BikeInventory</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container pt-2">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">-- Select Model --</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                    </div>
                    <div class="col text-end"><label class="col-form-label">Credits: 1,000.00</label></div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="box p-4 mb-4 bike-item">
                            <div class="row mt-1">
                                <div class="col mt-2" style="text-align: left;"><label class="form-label d-block mb-0" style="font-size: 16px;">Color: <strong>Blue</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Per Hour: <strong>10.00</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">ID: <strong>1</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Status: <strong>Available</strong></label>
                                    <div class="text-end mt-5"><a class="btn btn-light" role="button" href="payment.html">Rent &gt;&gt;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="box p-4 mb-4 bike-item">
                            <div class="row mt-1">
                                <div class="col mt-2" style="text-align: left;"><label class="form-label d-block mb-0" style="font-size: 16px;">Color: <strong>Blue</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Per Hour: <strong>10.00</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">ID: <strong>1</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Status: <strong>Available</strong></label>
                                    <div class="text-end mt-5"><a class="btn btn-light" role="button" href="payment.html">Rent &gt;&gt;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="box p-4 mb-4 bike-item">
                            <div class="row mt-1">
                                <div class="col mt-2" style="text-align: left;"><label class="form-label d-block mb-0" style="font-size: 16px;">Color: <strong>Blue</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Per Hour: <strong>10.00</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">ID: <strong>1</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Status: <strong>Available</strong></label>
                                    <div class="text-end mt-5"><a class="btn btn-light" role="button" href="payment.html">Rent &gt;&gt;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="box p-4 mb-4 bike-item">
                            <div class="row mt-1">
                                <div class="col mt-2" style="text-align: left;"><label class="form-label d-block mb-0" style="font-size: 16px;">Color: <strong>Blue</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Per Hour: <strong>10.00</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">ID: <strong>1</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Status: <strong>Available</strong></label>
                                    <div class="text-end mt-5"><a class="btn btn-light" role="button" href="payment.html">Rent &gt;&gt;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="box p-4 mb-4 bike-item">
                            <div class="row mt-1">
                                <div class="col mt-2" style="text-align: left;"><label class="form-label d-block mb-0" style="font-size: 16px;">Color: <strong>Blue</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Per Hour: <strong>10.00</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">ID: <strong>1</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Status: <strong>Available</strong></label>
                                    <div class="text-end mt-5"><a class="btn btn-light" role="button" href="payment.html">Rent &gt;&gt;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <div class="box p-4 mb-4 bike-item">
                            <div class="row mt-1">
                                <div class="col mt-2" style="text-align: left;"><label class="form-label d-block mb-0" style="font-size: 16px;">Color: <strong>Blue</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Per Hour: <strong>10.00</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">ID: <strong>1</strong></label><label class="form-label d-block mb-0" style="font-size: 16px;">Status: <strong>Available</strong></label>
                                    <div class="text-end mt-5"><a class="btn btn-light" role="button" href="payment.html">Rent &gt;&gt;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>