<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BikeInventory</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                <h1>Payment<a class="btn btn-light pull-right" role="button" href="index.html">&lt;&lt;</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-12 col-md-6">
                                <h4>GCash</h4><a class="btn btn-light link-primary card-link" role="button" href="receipt.html">Pay</a>
                            </div>
                            <div class="col-6 col-sm-12 col-md-6 text-end"><i class="fa fa-dollar" style="font-size: 56px;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-12 col-md-6">
                                <h4>GCash</h4><a class="btn btn-light link-primary card-link" role="button" href="receipt.html">Pay</a>
                            </div>
                            <div class="col-6 col-sm-12 col-md-6 text-end"><i class="fa fa-dollar" style="font-size: 56px;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-12 col-md-6">
                                <h4>GCash</h4><a class="btn btn-light link-primary card-link" role="button" href="receipt.html">Pay</a>
                            </div>
                            <div class="col-6 col-sm-12 col-md-6 text-end"><i class="fa fa-dollar" style="font-size: 56px;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>