@model PaymentViewModel


@{
    if  (Model.PaymentResult is SuccessPaymentResult successPaymentResult)
    {
        <form asp-action="Receipt" class="container pt-4">
            <input name="TransactionID" value="@(successPaymentResult.Ticket.TransactionID)" type="hidden" />
            <div class="row">
                <div class="col">
                    <h1>Payment</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div>QR Code Here</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div>Details Here</div>
                            <button type="submit">Click to Confirm Payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

       
    }
    else if (Model.PaymentResult is FailedPaymentResult failedPaymentResult)
    {
        <div>@(failedPaymentResult.Error.Message)</div>
    }
    else
    {
        <div>Invalid request</div>
    }
}

